@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remove these as they are now handled by Tailwind classes
input, button {
  color: black;
}

button {
  background-color: bisque;
}

.score {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
*/